.Rproj.user
.Rhistory
.RData
.Ruserdata
NFA_2017_CLUM.csv
NFA_SDG_2017_CLUM.csv
AllSDGIndicators_data.csv
2017_GTAPCLUM_WBSDG.csv
2017_GTAPCLUM_WB.csv
2017_GTAPCLUM_SDG.csv
NFA_WB_2017_CLUM.csv
NFA_SDG_2017_CLUM.csv
~/.boxr-oauth
